name: Update the dataset

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * MON"
  pull_request:
    branches:
      - main
    types:
      - "closed"
    paths:
      - 'data-update'

jobs:
  data_update:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: Submit job
      run: az ml job create -f data-update/data-update-job.yml --resource-group ${{ vars.RESOURCE_GROUP }} --workspace-name ${{ vars.WORKSPACE_NAME }} --stream
    # TODO also run train -s --stream

