name: Deploy model

on:
  workflow_run:
    workflows:
      - train-model
    types:
      - completed
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - "closed"
    paths:
      - 'model-deploy'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install azure-ai-ml
        pip install azure-identity

    - name: Run deploy script
      run: |
        python model-deploy/deploy.py --model realtor-model --subscription-id 95598df3-7982-4621-a42d-21bde1335164 --resource-group trabajo-final --workspace-name ogvd-trabajo-final --deployment-name realtor-deployment --endpoint-name realtor-endpoint --instance-type Standard_E4s_v3 --instance-count 1
      env:
        CREDENTIALS: ${{secrets.AZURE_CREDENTIALS}}