name: Train model

on:
  workflow_run:
    workflows:
      - data-update
    types:
      - completed
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - "closed"
    paths:
      - 'model-train'

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: Submit job
      run: az ml job create -f model-train/model-train-job.yml --resource-group ${{ vars.RESOURCE_GROUP }} --workspace-name ${{ vars.WORKSPACE_NAME }} --stream